main{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

                                        /* ==================MAIN CONTENT ====================*/
main .main-content{
    display: flex;
    flex-direction: column;
}

/* Estilando o Título */
main .main-content h2 {
    margin-bottom: 2%;
    font-size: 3.3em;

}

main .main-content .text {
    margin-bottom: 10%;
}

/* Estilando o article text  */
main .main-content .text p {
    width: 75%;
    font-size: 1.3em;
    font-weight: 300;
}


                                     /* ===========================CARDS ====================*/
main .techs .cards-container{
    display: flex;
    align-items: center;
    
}

main .techs .cards-container .card{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #999;
    border-radius: 8px;
    margin-right: 1.8em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .techs .cards-container .card img{
    width: 60%;

}

/* ===========================  footer ====================*/
span{
    background-color: #999;

}